# Ports
API_PORT=7261
UI_PORT=5173
DB_PORT=1433

# SQL Server
MSSQL_SA_PASSWORD=ChangeMe_StrongPassword!123

# Connection string
CONNECTION_STRING=Server=db;Database=HealthTrackDb;User Id=sa;Password=ChangeMe_StrongPassword!123;TrustServerCertificate=True;

# JWT
JWT_KEY=DEV_ONLY_CHANGE_ME_TO_LONG_RANDOM_SECRET

JWT_ISSUER=HealthTrack
JWT_AUDIENCE=HealthTrackUsers
JWT_ACCESS_TOKEN_MINUTES=10
JWT_REFRESH_TOKEN_DAYS=30

ASPNETCORE_ENVIRONMENT=Development