# Build folders
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Local secrets
**/appsettings.Development.json

# Local launch profiles
**/Properties/launchSettings.json
/docker-compose.yml
/.env.dev
